$color: (
  "blue": #546983,
  "other-blue": #a5b0be,
  "light-purple": rgb(242, 239, 255),
  "dark-purple": rgb(89, 50, 234),
);

$w-sidebar-expand: 20vw;
$w-sidebar-collapse: 6vw;
$px-topbar-content: 1.8vw;
$pt-sidebar-content: 3.2vh;
